/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for header */
header {
  background-color: hsl(213, 60%, 3%);
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 30px;

}

/* Navigation styling */
nav ul {
  list-style-type: none;
  background-color: black;
  text-align: start;
  padding: 20px;
  margin: 30px;
  font-size: 30px;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items in a row with space between */
}

nav ul li {
  font-size: 20px;
}

nav ul li.logo img {
  width: 100px;
  height: auto;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:not(.logo) {
  margin-left: 10px; /* Adjust spacing between links */
  font-size: 20px;
}


nav ul li a:hover {
  background-color: hwb(0 13% 86%);
}

main {
  padding: 20px;
}

section {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  margin: 4px;
  margin-bottom: 20px;
  font-size: 25px;
}

section h2 {
  color: hwb(205 5% 32%);
  font-weight: 200px;
}

section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 20px;
  margin-top: 40px;
}

section ul li a {
  color: #444;
  text-decoration: none;
}

section ul li a:hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: start;
  padding: 10px;
}

header form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  border: 4px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 400px;
}

button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: blue;
}

#police {
  display: "";
}

#identification {
  display: "";
}

#education {
  display: "";
}


/* styles.css */
nav {
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color:  hsl(349, 67%, 59%);
}

nav li {
  float: right; 
}

nav li.LOGOUT {
  float: left;
  color: #4caf50; 
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li.LOGOUT a {
  color: red; 
}

nav li a:hover {
  background-color: #111;
}
