<!DOCTYPE html>
<html>
<head>
  <title>Registration for Driving Test</title>
  <link rel="stylesheet" href="../static/driving.css">
</head>
<body>
  <div class="container" action ="/driving_test">
    <h2>Register for Driving Test</h2>
    <p> This services allow South Sudanese to register and take a driving test online.</p>
    <form id="drivingTestForm">
      <label for="fullName">Full Name:</label><br>
      <input type="text" id="fullName" name="fullName"><br>
      <label for="dateOfBirth">Date of Birth:</label><br>
      <input type="date" id="dateOfBirth" name="dateOfBirth"><br>
      <label for="gender">Gender:</label><br>
      <select id="gender" name="gender">
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select><br>
      <label for="address">Address:</label><br>
      <input type="text" id="address" name="address"><br>
      <label for="phoneNumber">Phone Number:</label><br>
      <input type="text" id="phoneNumber" name="phoneNumber"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="testType">Test Type:</label><br>
      <select id="testType" name="testType">
        <option value=""></option>
        <option value="written">Written Test</option>
        <option value="driving">Driving Test</option>
      </select><br>
      <label for="testDate">Test Date:</label><br>
      <input type="date" id="testDate" name="testDate"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>