<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUNUB</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="Logo"><img src="" alt="#" /></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="#identification">IDENTIFICATION</a></li>
        <li><a href="#police">POLICE</a></li>
        <li><a href="#education">EDUCATION</a></li>
      </ul>
    </nav>
    <header>
      <h1>Welcome to JUNUB Online Government Services: {{ username }}</h1>
      <form action="" method="get">
        <input
          type="text"
          name="searchQuery"
          placeholder="Search service here..."
          oninput="search()"
        />
        <button type="submit" id="search">Search</button>
        <div class="results"></div>
      </form>
    </header>
    <main>
      <section id="identification" class="op">
        <h2>Identification</h2>
        <ul>
          <li>
            <a href="/birth-certificate"
              >Application for Age Assessment Certificate</a
            >
          </li>
          <li>
            <a href="/nationality"
              >Application for South Sudanese National ID</a
            >
          </li>
          <li>
            <a href="/correction">Application for National ID Correction</a>
          </li>
        </ul>
      </section>
      <section id="police" class="op">
        <h2>Police</h2>
        <ul>
          <li>
            <a href="/driving_test">Registration for Driving Test</a>
          </li>
          <li>
            <a href="/exam_result">Driving License Exam Results</a>
          </li>
          <li>
            <a href="/apply-license">Application for Driving License</a>
          </li>
        </ul>
      </section>
      <section id="education" class="op">
        <h2>Education</h2>
        <ul>
          <li>
            <a href="/certificate">Application for the Certificate</a>
          </li>
          <li>
            <a href="/equivalent"
              >Application for the foriegn Qualification Certificate</a
            >
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Online Government Services. All rights reserved.</p>
    </footer>
    <script src="../static/script.js"></script>
  </body>
</html>
